@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2><u>DevOps Demo</u></h2>    
    <h3>Date: 1st July'16 </h3>
    <br />
    <table border="0">
        <tr>
            <td>Presenter - Tushar Madiya (Capgemini)</td>
        </tr>
        <tr>
            <td>
                RMG Attendees
                <br />
                <table width="90%" align="center">
                    <tr>
                        <td>
                            * Glenn Scott
                            <br />
                            * Robin Grossart
                            <br />
                            * Alex Lorke
                            <br />
                            * Mark Gee
                            <br />
                            * Ben Johnson
                            <br />
                            * Kiran Goparaju
                            <br />
                            * Wanja Naef
                        </td>

                    </tr>
                </table>
            </td>

        </tr>

    </table>
    Test
</div>

